<div class="flex justify-center h-screen mx-16">
  <div class="flex justify-center flex-col pr-8">
    <h1 class="text-amber-700 font-bold text-4xl">Busca por CEP</h1>
    <p class="text-amber-700">Digite um CEP para encontrar o endereço</p>
    <input
      type="text"
      class="text-gray-900 bg-stone-50 rounded-full placeholder:text-gray-400 focus:outline-none sm:text-sm/6"
      placeholder="000000-000"
    >
  </div>

  <div class="bg-stone-50 flex justify-center flex-col my-auto p-14 rounded-3xl">
    <p>CEP</p>
    <p>Endereço</p>
    <p>Bairro</p>
    <p>Cidade</p>
    <p>Estado</p>
    <p>DDD</p>
  </div>
<div>